@charset "UTF-8";

body{
    background-color: darkgrey;
    font-family: monospace;
    font-size: 12px;
}

h1{
    color: gold;
    background-color: rgb(217, 135, 250);
}

h2{
    color: palegreen;
}

p{
    text-align: justify;
}